<body>
	<!-- Navigation Bar -->
	<nav class = "navbar navbar-light justify-content-center">
	  	<a class = "nav-item nav-link mx-lg-5 px-lg-5 font-weight-light text-dark" routerLink = "/home">Home</a>
	  	<a class = "nav-item nav-link mx-lg-5 px-lg-5 font-weight-light text-dark" routerLink = "/quiz">Quiz</a>
	  	<a class = "nav-item nav-link mx-lg-5 px-lg-5 font-weight-light text-dark" routerLink = "/database">Database</a>
	  	<a class = "nav-item nav-link mx-lg-5 px-lg-5 font-weight-light text-dark" href = "#">Misc.</a>
	</nav>
	<router-outlet></router-outlet>
</body>